@model IEnumerable<ScratchDotNet.Models.ManufacturerEntity>

@{
    ViewBag.Title = "Hardware";
}

<h2>Hardware</h2>

<p>
    Scratch for .Net Micro Framework requires that you run Scratch for .Net firmware on your .Net Micro Framework device, which means your hardware and our firmware must be compatible.
    We provide a generic firmware image that should work on any recent .NetMF board, and we also provide custom firmware for some boards with special capabilities (like the 
    GHI Electronics BrainPad and Gadgeteer Boards). If your board is in the list of compatible hardware below, then the @Html.ActionLink("Scratch for .Net Gateway","Gateway", "Software") program will automatically
    install the correct firmware for you. If your board is not listed, see the <a href="#BYOF">Building Your Own Firmware</a> section below.
</p>

<h2>Compatible Hardware</h2>
<p>
    The following boards have been tested with Scratch for .Net Micro Framework and Scratch for .Net may support advanced features of those boards (like BrainPad sensors or Gadgeteer peripherals).
    Other boards and boards from other manufacturers no listed here may also work by using the generic Scratch for .NetMF firmware. Click on a manufacturer to see the supported boards.
</p>

<div class="row">
    @{ var grpnum = 0; }
    @foreach (var mfg in Model)
    {
        <div class="span4 collapse-group">
            <a class="btn" data-toggle="collapse" data-target="#group-@grpnum"><h3>@Html.DisplayFor(x => mfg.Name)</h3></a>
            <div class="collapse" id="group-@grpnum">
                <div class="container">
                    <h4><a href="@mfg.WebSite" target="_blank">Visit web site</a></h4>
                </div>
                @{ var prodnum = 0; }
                @foreach (var prod in mfg.Products)
                {
                    <div class="col-md-4">
                        <h4>@prod.ProductName</h4>
                        <a href="@prod.ProductImageUrl" data-toggle="lightbox" data-title="@prod.ProductName" data-footer="@prod.ImageFooter">
                            <img class="img-responsive" src="@prod.ProductImageUrl" />
                        </a>
                        <div class="row">
                            <div class="col-md-4">
                                <b>Scratch FW :</b>
                            </div>
                            <div class="col-md-8">
                                @if (prod.CustomFWSupport)
                                {
                                    @: Custom
                                    if (prod.GenericFWSupport)
                                    {
                                        @: ,<nbsp />
                                    }
                                }
                                @if (prod.GenericFWSupport)
                                {
                                    @: Generic
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <b>Blocks:</b>
                            </div>
                            <div class="col-md-8">
                                @prod.Blocks
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <b>Product link:</b>
                            </div>
                            <div class="col-md-8">
                                <a href="@prod.ProductLink" target="_blank">@prod.ProductName</a>
                            </div>
                        </div>
                        <br />
                        <p>
                            @prod.Description
                        </p>
                    </div>
                    ++prodnum;
                    if ((prodnum % 3) == 0)
                    {
                        <div class="row"></div>
                    }
                }
            </div>
        </div>
        ++grpnum;
        <div class="row"></div>
    }
</div>

<h2>Gadgeteer Support</h2>
<p>
    Gadgeteer is a pluggable hardware technology created by Microsoft and supported across numerous vensors. The Gadgeteer architecture allows you to plug in many different 
    types of sensors and actuators. Scratch for .Net supports Gadgeteer hardware on compatible boards. Special firmware is used to access the Gadgeteer peripheral devices.
    If you see "Gadgeteer" listed in the "Blocks" for a given hardware device above, then special configuration assistance will be available
    in the gateway program to help you configure your board (and to tell Scratch which Gadgeteer devices you have), and special Scratch blocks will be available withing the
    Scratch editor for programming your Gadgeteer peripherals.
</p>

<a name="BYOF"></a>
<h2>Building Your Own Firmware</h2>
<p>
    If we don't offer firmware for your .NetMF board and your board has special features that are not covered by the generic firmware, or if you want to support older or newer versions
    of .Net Micro Framework, you can build your own firmware.
    The source code is located on github in the <a href="https://github.com/martincalsyn/ScratchDotNet" target="_blank">ScratchDotNet</a> project. Feel free to download or fork the code.
    Pull requests are welcomed if you wish to contribute your firmware additions or other changes back to the Scratch for .Net community. Scratch for .Net is a non-commercial, not-for-profit,
    open source software project. Your contributions will help others gain more from their Scratch experience on .Net Micro Framework hardware.
</p>